@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Corrected from "0" to "border-box" */
    font-family: "Playwrite CU", cursive;
}

body {
    background: #f77efd;
}

.message-box {
    border-radius: 10px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    background: #fff;
    max-width: 100%; /* Adjusted width to be responsive */
    margin: 40px auto; /* Center align and add space around */
    padding: 40px;
}

.message-box h2 {
    font-size: 24px; /* Adjusted font size for smaller screens */
    margin-bottom: 20px; /* Reduced margin */
    position: relative;
}

.rounded-button {
    background-color: #ff84de;
    border: none;
    color: white;
    padding: 8px 16px; /* Adjusted padding */
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Adjusted font size */
    margin: 8px 0; /* Adjusted margin */
    cursor: pointer;
    border-radius: 12px;
}

.my-small-text {
    font-size: 10px; /* Adjusted font size */
    color: gray;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .message-box {
        padding: 20px; /* Adjusted padding */
    }

    .message-box h2 {
        font-size: 20px; /* Further reduced font size */
    }

    .rounded-button {
        font-size: 12px; /* Further reduced font size */
    }

    .my-small-text {
        font-size: 8px; /* Further reduced font size */
    }
}
